# compiled output
target
build
dist
package
tmp
out-tsc
bazel-out
.svelte-kit

# dependencies
node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
.sass-cache
connect.lock
coverage
lcov.info
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
typings
videos

# system files
.DS_Store
Thumbs.db

# backup files
**/*.rs.bk
