# Do not copy any files
**/*.*
**/.devcontainer/
**/.svelte-kit/
**/cypress/
**/node_modules/
**/target/
**/Dockerfile*
# Except for (backend)
!*/*/.cargo/**
!*/*/src/**
!*/*/Cargo*
!*/*/*/src/**
!*/*/*/Cargo*
# Except for (frontend)
!*/*/src/**
!*/*/static/**
!*/*/package.json
!*/*/babel.config.json
!*/*/svelte.config.js
!*/*/tsconfig.json
