# Do not copy any files
**/*.*
**/target/
**/node_modules/
**/cypress/
# Except for (backend)
!*/*/src/**
!*/*/Cargo*
!*/*/*/src/**
!*/*/*/Cargo*
# Except for (frontend)
!*/*/src/**
!*/*/static/**
!*/*/package.json
!*/*/.babelrc
!*/*/svelte.config.js
!*/*/tsconfig.json
